[Unit]
Description=PasteBin Monitor
After=network.target

[Service]
User=<user>
WorkingDirectory=/home/<user>/pastebin-monitor
ExecStart=python3 pastebin_crawler.py
ExecStop=/bin/kill $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target

